
.admin-menu-wrapper {
	content: '';
	display:inline-block;
	a {
		&.emsch {
      color: $admin-menu-font-color;
		}
	}

	&.hide {display: none;}

  i.ems-icon {
    background-image: icon(emsch, $admin-menu-icon-fill, $admin-menu-icon-size, $admin-menu-icon-size);
    background-repeat: no-repeat;
    display: inline-block;
    width: $admin-menu-icon-size+0px;
    height: $admin-menu-icon-size+0px;
  }
}
